.game-board {
	width: 500px;
	height: 500px;
	border: 1px solid black;
	margin: 0 auto;
	position: relative;
}

.plane-icon {
	position: absolute;
	margin-left: 250px;
	margin-top: 450px;
	font-size: 35px;
}

.obstacle-icon {
	width: 50px;
	height: auto;
	position: relative;
}

.boost-icon {
	width: 25px;
	height: auto;
	position: relative;
}

.Timer {
	text-align: center;
}